@charset "utf-8";
/* CSS Document */
body{
	background-color:#000;
	font-size: 11.5px;
	font-family: Arial, Helvetica, sans-serif;
}
a{
	color: #104070;
	}
a:hover{
	text-decoration:none;
	color: #ec7a08;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
		margin-top:1px;
		}
.container{
	border: solid 1px;
	background-color: #fff;
	box-shadow: 0px 0px 22px #FFE;
	margin-top: 50px;
}
.col-md-3{
	border:dashed 1px;
}
.col-lg-6{
	border:solid 1px;
}
.form-group{
	padding-left:10px;
	padding-right:10px;
	font-style:italic;
}
#content {
  width: 100%;
  padding-top: 60px;
  padding-left: 15%;
  padding-right: 15%;
  box-sizing: border-box;
  z-index:1;
}

#overlay{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.3);
  z-index:5;
  display: none;
}

#mobile-menu {
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
  background-color: rgba(0.3,0.3,0.3,0.3);
  z-index:10;
  box-shadow: 1px 1px 10px #aaa;
}

ul { list-style: none; }

#mobile-menu.open {
  width: 250px;
  background-color: #eee;
}

#menu-button {
  position: fixed;
  top:20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 15px;
}