@charset "utf-8";
/* CSS Document */
body{
	background-color:#ddd;
	font-size: 1.2em;
	font-family: Arial, Helvetica, sans-serif;
	background-image:url("bg.svg");
	background-size:100% 100%;
}
a{
	color: #104070;
	}
a:hover{
	text-decoration:none;
	color: #ec7a08;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
		margin-top:1px;
		}
.container{
	border: solid 1px #bbb;
	background-color: #fff;
	box-shadow: 0px 0px 22px #bbb;
	margin-top: 50px;
	border-radius: 5px;
}
.col-md-3{
	border:dashed 1px;
}
.col-lg-6{
	border:solid 1px;
}
.form-group{
	padding-left:10px;
	padding-right:10px;
	font-style:italic;
}

@media (max-width: 989px) and (min-width: 768px){
body{
font-size: 1em;
}
}

@media (max-width: 767px) and (min-width: 535px){
body{
font-size: .9em;
}
}
@media only screen and (max-width: 535px), only screen and (max-device-width: 535px){
body{
font-size: .73em;
}
}
