@charset "utf-8";
/* CSS Document */
body{
	background-color:#ddd;
	font-size: 1.2em;
	font-family: Arial, Helvetica, sans-serif;
	background-image:url("bg.svg");
	background-size:100% 100%;
}
a{
	color: #104070;
	}
a:hover{
	text-decoration:none;
	color: #ec7a08;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
		margin-top:1px;
		}
.container{
	border: solid 1px #bbb;
	background-color: #fff;
	box-shadow: 0px 0px 22px #bbb;
	margin-top: 50px;
	border-radius: 5px;
}
.col-md-3{
	border:dashed 1px;
}
.col-lg-6{
	border:solid 1px;
}
.form-group{
	padding-left:10px;
	padding-right:10px;
	font-style:italic;
}

.alert-widget{
	width: 100%;
	background-image: url(../images/striped_green.png);
	background-repeat: repeat-x;
	height: auto;
	border-radius: 5px;
	border: 1px solid #fff;
	margin-bottom: 10px;
	overflow:auto;
}

.alert-widget img{
	width: auto;
	height: 75px;
	float: left;
}
.alert-widget-container{
	height: auto;
	float: left;
	padding-left: 14px;
	margin-top: 1px;
}
.alert-widget-container h2{
	font-size: 1.9em;
	margin-top: 10px;
	font-weight: 700;
	margin-bottom: -2px;
	
}

.alert-widget-container p{
	font-size:.95em;
	margin:0px;
}

alert-widget-container a{
	font-size:.95em;
}


@media (max-width: 989px) and (min-width: 768px){
body{
	font-size: 1em;
}

.alert-widget-container {
	margin-top: 5px;
}
}
@media (max-width: 767px) and (min-width: 535px){
body{
	font-size: .9em;
}
.alert-widget img {
	height: 55px;
}
.alert-widget-container {
	margin-top: -2px;
}
}
@media only screen and (max-width: 535px), only screen and (max-device-width: 535px){
body{
	font-size: .73em;
}
.alert-widget img {
	height: 49px;
}
.alert-widget-container {
	padding-left: 6px;
	margin-top: 1px;
}
}




